*{
    margin: 0;
    padding: 0;
}
.kepala1{
    position: absolute;
    display: flex;
    margin-left: 280px;
    background-color: #fe184efc;
    width: 700px;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.kepala1 h1{
    padding-left: 20px;
    color:white;
    font-family: 'Cabin', sans-serif;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.bagian1 ul{
    display: flex;
    padding-left: 200px;
    list-style: none;
}
.bagian1 li{
    padding-left: 40px;
    padding-top: 10px;
    font-weight: 500;
    font-family: 'Cabin', sans-serif;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shippori Mincho B1', serif;
    font-family: 'Work Sans', sans-serif;
}
.isi1 h2{
    padding-top: 300px;
    padding-left: 130px;
    font-size: 40px;
    font-family: 'Cabin', sans-serif;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shippori Mincho B1', serif;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
}
.isi1 img{
    height: 400px;
    position: absolute;
    display: flex;
    margin-left: 690px;
    padding-top: 130px;
    transition-duration: 0.9s;
    cursor: pointer;
}
.isi1 img:hover{
    transform: rotate(30deg);
    transition-duration: 1s;
}
.isi1 button{
    margin-top: 500px;
    margin-left: 130px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    border-style: 1px;
    transition-duration: 0.9s;
}
.isi1 button:hover{
    background-color: #fe184efc;
    color:white;
    transition-duration: 1s;
}
.fa-solid{
    margin-left: 10px;
}
.isi2 img{
    display: flex;
    position: absolute;
    height: 300px;
    margin-top: 50px;
    margin-left: 130px;
    border-top-right-radius:30%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
main{
    padding-top: 400px;
    display: flex;
    gap:2rem;
    justify-content: center;
}
.main1 img {
    height: 150px;
}
.main1 {
    display: flex;
}
.teks1 h1 {
    display: flex;
    padding-top: 65px;
}
.main2 img{
    height: 150px;
}
.main2 {
    display: flex;
}
.teks2 h1{
    display: flex;
    padding-top: 65px;
}
.main3 img{
    height: 150px;
}
.teks3 h1{
    display: flex;
    padding-top: 65px;
}
.main3{
    display: flex;
}
.oh1 {
    position: absolute;
}
.oh1 h2{
    position: absolute;
    padding-left: 20px;
    padding-bottom: 10px;
}
.oh1 h5{
    margin-top: 26px;
}
section {
    background-color: grey;
    height: 800px;
    display: flex;
}
.contents-item img{
    height: 150px;
}
.contents-item{
    margin-left: 50px;
    border: 1px solid black;
    background-color: white;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.w1{
    background-color: #fe184efc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:white;
}
.w1 p{
    margin-left: 20px;
}
.w1 h1{
    margin-left: 20px;
}
.w2{
    background-color: #fe184efc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:white;
}
.w2 p{
    margin-left: 20px;
}
.w2 h1{
    margin-left: 20px;
}
.w3{
    background-color: #fe184efc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:white;
}
.w3 p{
    margin-left: 20px;
}
.w3 h1{
    margin-left: 20px;
}
.w4{
    background-color: #fe184efc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:white;
}
.w4 h1{
    margin-left: 20px;
}
.w4 p{
    margin-left: 20px;
}
.contents{
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1000px;
    gap:0.1rem;
    margin-top: 100px;
    margin-left: 80px;
}
.m1 {
    position: absolute;
    margin-left: 500px;
    margin-top: 30px;
    color:white
}
.m1 h1{
    margin-left: 20px;
}
.w5{
    background-color: #fe184efc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:white;
}
.w5 h1{
    margin-left: 20px;
}
.w5 p{
    margin-left: 20px;
}
.w6{
    background-color: #fe184efc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:white;
}
.w6 h1{
    margin-left: 20px;
}
.w6 p{
    margin-left:20px
}
.tengah1 {
    display: flex;
    justify-content: center;
}
.konten{
    flex-direction: row;
}
.tengah1 img{
    height: 250px;
    margin: 0 90px ;
}
.tengah1 p{
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tengah1 h1{
    margin-bottom: -90px;
    margin-top: 60px;
}
.konten button{
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 20px;
}
footer{
    background-color: grey;
    height: 500px;
}
.bawah1 {
    display: flex;
    gap:8rem;
    padding-top: 60px;
}
.konten4 {
    margin-left: 20px;
    color:white;
}
.konten4 ul{
    list-style: none;
}
.bawah1 span{
    color:#fe184efc
}
.fa-brands {
    padding-left: 20px;
    color:rgba(0, 0, 0, 0.543)
}
.mm1 {
    display: flex;
    gap:1rem;
}
.konten5{
    color:white;
    padding-top: 100px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
   .kepala1{
    margin-left: 100px;
   }
   .isi1 img{
    padding-top: 200px;
    margin-left: 500px;
   }
   .isi1 button{
    margin-top: 550px;
   }
   .main1{
    padding-left: 20px;
    display: flex;
    
   }
   .oh1 {
    flex-wrap: wrap-reverse;
    display: flex;
    justify-content: center;
   }
   .mm1 {
    display: flex;
    margin-left: 400px;
   }
   .mm1 img{
    height: 100px;
    padding-top: 50px;
   }
   .mm1 h1{
    font-size: 22px;
   }
   section{
    width: 920px;
    height: 1000px;
   }
   .contents{
    margin-right: 90px;
   }
   .tengah1 {
    margin-left: 450px;
   }
   footer{
    width: 920px;
   }
   .konten4{
    margin-right: 10px;
   }
   main{
    margin-left: 100px;
   }
   .m1 h1 {
    display: flex;
    position: absolute;
    font-size: 16px;
    margin-left: -50px;
    flex-direction:row ;
    flex-wrap: nowrap;
   }
}
   /* }
   .main1 img{
    height: 100px;
    padding-top: 50px;
   }
   .teks1 h1{
    font-size: 22px;
   }
   .main2 img{
    height: 100px;
    padding-top: 50px;
   }
   .teks h1{
    font-size: 22px;
   }
   .main3 img{
    height: 100px;
    padding-top: 50px;
   }
   .teks3 h1{
    font-size: 22px;
   }
   

   
} */